*{
    margin:0 auto;
}   
body{
    background-image: url(../estilos/logistica-intermodal-agenciamento-maritmo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} 
.Titulo{
    display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        font-size: 35PX;
        margin: auto  0;
        color: #fff;
        background: #042c6c;
    }
    .Titulo b{
        color: #ffe900;
    }
    h1{
        margin-left: -80px;
    }

    .logo{
        width: 100px;
        margin-left:40px;
        
       
    }
    .nav_menu{
        display: block;
        flex-direction: column;
        width: 200px;
        position: absolute;
        background: #042c6c;
        padding: 0;
        margin: 0;
        height: 700px;
        transition: all 500ms;
        margin-left: -200px;
        }
    .nav_menu_visual{
        display: block;
        flex-direction: column;
        width: 205px;
        position: absolute;
        background: #042c6c;;
        padding: 0;
        margin: 0;
        height: 700px;
    transition: all 500ms;
    }
  h3.t_menu{
      text-align: center;
     color: #ffe900;
     font-size: 20px;
     background:#000;
     width: 100%;
     margin: 0;
     padding: 5px 0;
    }
    a.link_menu {
        width: 100%;
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 5px;
        margin: 10px;
    }
       .menu{
        background: none;
        color:#fff;
        font-size: 45px;
        border:none;
        margin: 2px;
    }     
    div .container{
    text-align: center;
     justify-content: center;
     }
